<h3>comments index</h3>

{{#each comment in model.comments}}
<li>
  <strong> {{comment.username}}</strong> - {{comment.body}} <button {{action "deleteComment" comment}}>X</button>
  | {{link-to "Edit" "comments.edit" comment}}
</li>
{{/each}}
